<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>870554795775-2gktk55209qbsbk5o2un6pmhr48mig27.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.870554795775-2gktk55209qbsbk5o2un6pmhr48mig27</string>
	<key>API_KEY</key>
	<string>AIzaSyC9pt7N9l2u41u6pIRGHYAUE1gKTVeb82I</string>
	<key>GCM_SENDER_ID</key>
	<string>870554795775</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pauldefilippi.lets-chat</string>
	<key>PROJECT_ID</key>
	<string>lets-chat-a6225</string>
	<key>STORAGE_BUCKET</key>
	<string>lets-chat-a6225.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:870554795775:ios:1b822dce24743773</string>
	<key>DATABASE_URL</key>
	<string>https://lets-chat-a6225.firebaseio.com</string>
</dict>
</plist>